includes:
    - phpstan-baseline.neon
parameters:
    level: 10
    paths:
        - src
        - test
    universalObjectCratesClasses:
        - Laminas\Stdlib\ArrayObject
    stubFiles:
        - stubs/Laminas/ServiceManager/Factory/AbstractFactoryInterface.stub
        - stubs/Laminas/ServiceManager/Factory/DelegatorFactoryInterface.stub
        - stubs/Laminas/ServiceManager/Factory/FactoryInterface.stub
        - stubs/Laminas/ServiceManager/Factory/InvokableFactory.stub
        - stubs/Laminas/ServiceManager/Initializer/InitializerInterface.stub
        - stubs/Psr/Container/ContainerInterface.stub
    treatPhpDocTypesAsCertain: false